.entete3 {
    border-top: 5px solid #CE0033;
    background-image: url('https://img.freepik.com/premium-photo/group-successful-businessmen_118454-367.jpg?w=740');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 138px;
}
.containerEntete3{
    background-color:#b00b2f9c;
    width: 45%;
    height: 10px;
    text-align: center;
    margin: 0 auto;
}
.containerEntete3 p{
    color: #fff!important;
}
.containerEntete3 h2{
    font-size: 24px !important;
    padding: 5px;
}
.programme{
    background-color: #F6F6F6;
    text-align: center;
    padding: 5px;
}
.programme h3{
    color: #C30033;
}
.programme button{
    background-color: #C30033;
    border: none;
    color: #fff;
    padding: 8px;
}
@media only screen and (min-width: 700px) and (max-width:1100px){
    .cadre{
        display: flex;
        flex-direction: column;
    }
    .textCadre {
        width: 100%;
        text-align: center;
    }
    .imgCadre{
        width: 100%;
        text-align: center;
    }
}