.entete3 {
    border-top: 5px solid #CE0033;
    background-image: url('https://img.freepik.com/premium-photo/group-successful-businessmen_118454-367.jpg?w=740');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 138px;
}
.containerEntete3{
    background-color:#b00b2f9c;
    width: 45%;
    height: 10px;
    text-align: center;
    margin: 0 auto;
}
.containerEntete3 p{
    color: #fff!important;
}
.containerEntete3 h2{
    font-size: 24px !important;
    padding: 5px;
}
.zoneNational{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.descNational{
    display: flex;
    background-color: #F6F6F6;
    width: 55%;
    padding: 10px;
    border-radius: 15px;
}
.carteNational{
    width: 100%;
}
.carteNational img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}
.text{
    margin-left: 15px;
}
.text h5{
    color: #C30033;
}
.statistiqueNational{
    background-color: #C30033;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin: 15px auto;
    width: 20%;
    height: 45%;
    padding: 8px;
}
.blanc{
    background-color: #fff;
    color: #C30033;
    border: 2px solid #C30033;
    padding: 8px;
}
.zoneRecherche{
    margin-bottom: 15px;
}
.zoneRecherche h4{
    color: #C30033;
}
.zoneRecherche select{
    width: 30%;
    background-color: #fff;
    border: 1px solid #c4c3c3;
    border-radius: 4px;
    padding: 5px;
}
#map { height: 350px; }

@media (max-width:700px){
    .zoneNational{
        display: flex;
        flex-direction: column;
    }
    .descNational{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .carteNational img{
        border-radius: 15px;
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
    }
    .statistiqueNational{
        width: 100%;
    }
    .blanc{
        background-color: #fff;
        color: #C30033;
        border: 2px solid #C30033;
    }
}

@media only screen and (min-width: 700px) and (max-width:1100px) {
    .zoneNational{
        display: flex;
        flex-direction: column;
    }
    .descNational{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .carteNational img{
        border-radius: 15px;
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
    }
    .statistiqueNational{
        width: 100%;
    }
    .blanc{
        background-color: #fff;
        color: #C30033;
        border: 2px solid #C30033;
    }
}