.entete3 {
    border-top: 5px solid #CE0033;
    background-image: url('https://img.freepik.com/premium-photo/group-successful-businessmen_118454-367.jpg?w=740');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 138px;
}
.containerEntete3{
    background-color:#b00b2f9c;
    width: 45%;
    height: 10px;
    text-align: center;
    margin: 0 auto;
}
.containerEntete3 p{
    color: #fff!important;
}
.containerEntete3 h2{
    font-size: 24px !important;
    padding: 5px;
}
.typePedagogie{
    display: flex;
    margin-bottom: 35px;
}
.typePedagogie .type1{
    background-color: #f6f6f6;
    border-radius: 10px;
    margin-left: 8px;
    padding: 10px;
    text-align: justify;
}
.typePedagogie .type1 h3{
    color: #CE0033;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.piliers{
    margin-bottom: 35px;
}
.piliers h3{
    color: #CE0033;
    font-size: bold;
    text-align: center;
    margin-bottom: 25px;
}
.cardPiliers{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.itemPilier{
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 10px;
}
.rouge{
    background-color: #CE0033;
    color: #fff;
}
.blanc{
    background-color: #fff;
    color: #CE0033;
    border: 2px solid #CE0033;
}
.autrePedagogie h3{
    color: #CE0033;
    text-align: center;
    margin-bottom: 25px;
}
.noir{
    background-color: #000;
    color: #fff;
}
.autreP{
    display: grid;
    grid-template-columns: auto auto; 
    gap: 10px;
}
.cardP{
    background-color: #f6f6f6;
    padding: 15px;
    /* height: 80%; */
}
.cardP img{
    width: 100%;
    height: 55%;
    margin-bottom: 8px;
}
.cardP h4{
    color: #CE0033;
    text-align: center;
    margin-top: 15px;
}
.cardP p{
    font-size: 14px;
    text-align: justify;
    margin-top: 15px;
}

@media (max-width:700px){
    .containerPedagogie{
        display: flex;
        flex-direction: column;
    }
    .typePedagogie{
        display: flex;
        flex-direction: column;
    }
    .type1{
        margin-bottom: 9px;
    }
    .cardPiliers{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    .autreP{
        display: grid;
        grid-template-columns: auto; 
        gap: 10px;
    }
    .cardP{
        background-color: #f6f6f6;
        padding: 15px;
        height: 100%;
    }
    .cardP img{
        width: 100%;
        height: 35%;
        margin-bottom: 8px;
    }
    .cardP h4{

        margin-top: 5px;
    }
    .cardP p{
        margin-top: 0px;
    }
}

@media only screen and (min-width: 700px) and (max-width:1100px){
    .containerPedagogie{
        display: flex;
        flex-direction: column;
    }
    .typePedagogie{
        display: flex;
        flex-direction: column;
    }
    .type1{
        margin-bottom: 9px;
    }
    .cardPiliers{
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    .autreP{
        display: grid;
        grid-template-columns: auto; 
        gap: 10px;
    }
    .cardP{
        background-color: #f6f6f6;
        padding: 15px;
        height: 90%;
    }
    .cardP img{
        width: 100%;
        height: 50%;
    }
    .cardP h4{
        margin-top: 0px;
    }
    .cardP p{
        margin-top: 0px;
    }
    
}