.topforma4{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #CE0033;
    width: 10%;
    display: flex;
    height: 4px;
    margin: 0 auto;
}
.card{
    border-bottom-right-radius: 80px 80px;
    box-shadow: 2px 5px 5px #CE0033;
}
.entete3 {
    border-top: 5px solid #CE0033;
    background-image: url('https://images.unsplash.com/photo-1655393001768-d946c97d6fd1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1776&q=80');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 138px;
}
.topformat{
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #CE0033;
    width: 12%;
    display: flex;
    height: 4px;
    margin: 0 auto;
}



@media(max-width: 700px) {
    .boutons1 {
        flex-direction: column;
        padding: 0 5%;
    }
}


@media only screen and (min-width: 700px) and (max-width:1100px) {
    .boutons1 {
        flex-direction: column;
        padding: 0 5%;
    }

}
