.entete3 {
    border-top: 5px solid #CE0033;
    background-image: url('https://img.freepik.com/premium-photo/group-successful-businessmen_118454-367.jpg?w=740');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 138px;
}
.containerEntete3{
    background-color:#b00b2f9c;
    width: 45%;
    height: 10px;
    text-align: center;
    margin: 0 auto;
}
.containerEntete3 p{
    color: #fff!important;
}
.containerEntete3 h2{
    font-size: 24px !important;
    padding: 5px;
}
details {
    /* background-color: #f0f0f0; */
    padding: 10px;
    border: none;
    margin: 10px;
    background-color: #f6f6f6;
    
}

summary {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transform: rotate(0deg);
    transition: transform 0.2s;
    margin-left: 60px;
}

details[open] .arrow {
    transform: rotate(180deg);
}

/* Style lorsque les détails sont ouverts */
details[open] {
    background-color: #ffff;
}

.number{
    color: var(--vert);
    margin-right: 10px;
}
.titreFaq{
    text-align: center;
}
.simplonFaq{
    margin-bottom: 35px;
}
.simplonFaq h5{
    font-weight: bold;
}
.trait{
    width: 6%;
    height: 5px;
    border: none;
    border-radius: 8px;
    background-color: #CE0033 !important;
    margin-bottom: 20px;
}
@media(max-width:700px){
    .titreFaq{
        margin-bottom: 15px;
    }
    .simplonFaq{
        text-align: center;
    }
    .trait{
        margin: 0 auto !important;
        width: 15%;
    }
    summary {
       font-size: 14px;
    }
}