/* faire ma formation */
.premierh3{
    text-align: center ;
    color: #CE0033;
    font-weight: bold;
    font-size: 30PX;
}
main .cartes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    row-gap: 25px;
}

main .contCarte{
    margin: 0 5%;
}

main .cartes .carte{
    background-color: white;
}

main .cartes .carte .imgCarte{
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 4%;
}

main .cartes .carte img{
    width: 100%;
    border-radius: 20px;
}

main .carte h3,p{
    text-align: center;
}

main .carte h3{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
}

main .carte p{
    font-size: 16px;
    margin-bottom: 20px;
}

main .carte .boutonCart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

main .carte .boutonCart button{
    background-color: #CE0033;
    color: white;
    font-weight: bold;
    width: 50%;
    border-radius: 15px;
}

main .carte .boutonCart button a{
    color: white;
}

main .infoCarte{
    background-color: #CE0033;
    display: flex;
    padding: 4%;
    justify-content: space-between;
}

main .infoCarte p{
    text-align: left;
    color: white;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

main .infoCarte .info:nth-child(1) span{
    font-weight: bold;
    margin-right: 5px;
}

main .infoCarte .info:nth-child(1) i{
    color: white;
    margin-right: 5px;
}

main .infoCarte .info:nth-child(2) span{
    font-weight: bold;
    margin-right: 5px;
}

main .infoCarte .info:nth-child(2) i {
    color: white;
    margin-right: 5px;
}

main .carte .carteFooter{
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
}

main .carte .carteFooter p{
    margin: 0;
    font-size: 10px;
}


.entete3 {
     border-top: 5px solid #CE0033; 
     background-image: url(../faireFormation/imgbaniére.png);
     background-repeat: no-repeat; 
     background-size: 100% 100%; 
      margin-top: 138px; 
      width: 100%;
      padding-top: 5%;
      height: 100%; 
      padding-bottom: 8%;
    }

     
    .textrouge{
        color: #CE0033;
        font-size: 100%;
        font-weight: bolder;
        background-color: #FFFFFF ;
        border-radius: 3px;
    }
    .liste{
        padding-top: 1%;
    }

    .boutton1{
        background-color: #FFFFFF;
        color: black;
        border-bottom-color: #CE0033  solid 6PX;border-bottom: #CE0033 solid 5px;
        border-left-color: #CE0033 solid rgb(308, 18, 5);border-left: #CE0033 solid 2px;
        border-right-color: #CE0033 solid 2PX;border-right: #CE0033 solid 2px;
        border-top-color: #CE0033 solid 2PX;border-top: #FFFFFF solid 1px;
        padding-left: 10%;
        padding-right: 1%;
        box-shadow: 4px 3px 7px rgb(208, 18, 5);
        font-weight: bold;
        /* margin-right: 36%; */
        margin-left: 3%;
        justify-content: center;
        
       
    }
    .textblanc{
        color: #f6f6f6;
        /* font-size: 75%; */
    }
    .fondgris1{
        background-color: #D9D9D9;
        color: #FFFFFF;
       font-size: 40PX;
    
    }
    .fondgris1 p{
        text-align: left;
        
    }

    .fondgris1 .P2{
        margin-left: 25%;
    }
    .fondgris2{
        background-color: #f6f6f6;
        border: #f6f6f6 solid 25px;
        width: 98%;
    
    
    }
    .fondgris1 .P1{
        margin-left: 13%;
    }
    .fondblanc{
        background-color: #FFFFFF;
        border: #FFFFFF 5px;
        /* margin-right: %;
        width: 50%;
        margin-left: 23%;
       */
    
    }
   
    .liste>.troisiémeLi{
        padding-left: 19%;
        padding-right: 10%;
    }
    .liste>.quatriémeLi{
        padding-right: 15%;
        padding-left: 5%;
    }
    .liste{
        font-weight: bolder;
        text-align:center ;
       font-size: 100%;
    }
    
    H1{
        color: #FFFFFF;
        text-align: center;
        padding-right: 100%;
    }
    .Deuxiémeh3{
        text-align: center ;
        color: #CE0033;
        font-weight: bold;
        font-size: 30PX;
    }
    .bouttondispley{
        display: flex;
        justify-content:space-between ;
        align-items: center;
    margin-bottom: 25px;
       
    }
    .boutton2{
        background-color: #FFFFFF;
        color: black;
        border-bottom-color: #CE0033  solid 6PX;border-bottom: #CE0033 solid 2px;
        border-left-color: #CE0033 solid rgb(308, 18, 5);border-left: #CE0033 solid 2px;
        border-right-color: #CE0033 solid 2PX;border-right: #CE0033 solid 1px;
        border-top-color: #CE0033 solid 2PX;border-top: #FFFFFF solid 1px;
        padding-left: 1%;
        padding-right: 1%;
        /* box-shadow: 4px 3px 7px rgb(208, 18, 5); */
        border: 2px solid #CE0033;
        font-weight: bold;
        margin-left: 22%;
       
    }
    .boutton3{
        background-color: #FFFFFF;
        color: black;
        border-bottom-color: #CE0033  solid 6PX;border-bottom: #CE0033 solid 2px;
        /* border-left-color: #CE0033 solid rgb(308, 18, 5);border-left: #CE0033 solid 1px;
        border-right-color: #CE0033 solid 2PX;border-right: #CE0033 solid 2px;
        border-top-color: #CE0033 solid 2PX;border-top: #FFFFFF solid 1px; */
        border: 2px solid #CE0033;
        padding-left: 1%;
        padding-right: 1%;
        /* box-shadow: 4px 3px 7px rgb(208, 18, 5); */
        font-weight: bold;
        margin-right: 33%;
       
    }
    .boutton4{
        background-color: #FFFFFF;
        color: black;
        /* border-bottom-color: #CE0033  solid 6PX;border-bottom: #CE0033 solid 5px;
        border-left-color: #CE0033 solid rgb(308, 18, 5);border-left: #CE0033 solid 2px;
        border-right-color: #CE0033 solid 2PX;border-right: #CE0033 solid 2px; */
        border: #CE0033 solid 2PX;border-top: #FFFFFF solid 1px;
        /* padding-left: 3%; */
        padding-right: 1%;
        /* box-shadow: 4px 3px 7px rgb(208, 18, 5); */
        font-weight: bold;
        /* margin-left: 22%; */
        /* margin-top: 3%;
        margin-right: 25%; */
        border: 2px solid #CE0033;
        width: 60%;
        margin-top: 3%;

    }
    /* .divboutton{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .cartegris{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    row-gap: 50%;
    background-color: FFFFFF;
    justify-content: space-between;
    /* border: #CE0033 solid 1px; */
    
    }
    .cartegris1{
        /* border: #5600ce solid 1px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;
        background-color: #f6f6f6;
        padding: 5% 2%;
        
        
    }
    .troisiémeh3{
        text-align: center ;
        color: #CE0033;
        font-weight: bold;
        font-size: 30PX;
    }
    .imgcartegris1{
        /* border: #CE0033 solid 1px; */
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .imgcartegris1 img{
        width: 100px;
        height: 100px;
    }
   
    .textrouge{
        margin-top: 20PX;
        font-size: 10px;
    }
    
    /* <!-- partie forme baground de la page d'acceuil --> */
    /* body{
        background-color: var(--main-background-color);
    } */
    
        /* .box{
        width: 80vh;
        height: 80vh;
        /* border: solid black; */
        /* margin: auto;
        position: relative;
        display: block;
        
    } */ */
    
    /* .center{
        padding-top: 50%;
    } */
    
    /* .dialog-1{
          height: 20%;
          width: 40%;
          background-color: var(--main-dark-color);
          position: absolute;
          border-radius: 10%;
    } */
    
    .left-point{
        width: 0;
        height: 0;
        border-left: 2vh solid transparent;
        border-right: 2vh solid transparent;
        border-top: 10vh solid var(--main-dark-color);
        position: absolute;
        top: 45%;
        left: -10%;
        transform: rotate(60deg);
    }
    
    .dialog-2{
          height: 40%;
          width: 40%;
          background-color: var(--main-light-color);
          position: absolute;
          border-radius: 10%;
          right: 0;
    }
    /* <!-- partie forme baground de la page d'acceuil --> */
   
  
  body{
      background-color: var(--main-background-color);
      --main-light-color: #ded9d9c0;
  }

  .entete3 .backEntete3 {
    background-color: none !important;
  }
  
  /* .box{
    width: 85vh;
    height: 80vh;
    /* border: solid black; */
    /* margin: auto;
    position: relative;
    display: block;
    margin-bottom: 15%;
} */

/* .center{
    padding-top: 50%;
}




.left-point{
    width: 0;
    height: 0;
    border-left: 1vh solid transparent;
    border-right: 2vh solid transparent;
    
    position: absolute;
    top: 45%;
    left: -10%;
    transform: rotate(60deg);
}

.dialog-2{
      height: 50%;
      width: 70%;
      /* background-color: var(--main-light-color); */
      /* position: absolute;
      border-radius: 45%;
      right: 0;
} */

/* .right-point{
    width: 0;
    height: 0;
    border-left: 3vh solid transparent;
    border-right: 3vh solid transparent;
    border-top: 10vh solid var(--main-light-color);
    position: absolute;
    top: 45%;
    right: -10%;
    transform: rotate(-60deg);
} */ 